@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7f7fc; /* Light gray background */
  font-family: 'Roboto Mono', monoscape; 
}

h2, h3 {
  color: #998DA5; 
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #998DA5; /* Darker text for better contrast */
}

a {
  text-decoration: none;
  color: black; 
}

button {
  background-color: #998DA5;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 2rem;
}


